<a href="https://colab.research.google.com/github/sandeepbansode/Basic_Python_Assignments/blob/main/Basic_python_Assignment_1_with_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What is a List?

2. What is a Tuple?

3. What is the difference between List and Tuple?

4. Python Program to find the largest element in the list.

5. Python program to interchange first and last elements in a list.

6. Python program to swap two elements in a list.

7. Python program to Reverse a List.

8. Python program to count occurrences of an element in a list.

9. Python program to find the sum of elements in a list.

10. Python program to Multiply all numbers in the list.

11. What are the ways to find the length of a list.

12. Python program to find the smallest and largest number in a list (Without min-max function).

13. Python Program to find the area of a circle.

14. Take inputs from the user to make a list. Again take one input from the user and search it in the list and delete that element, if found. Iterate over a list using for loop.

15. You are given a list of integer elements. Make a new list that will store a square of elements of the previous list. (With and without list comprehension)

i. Input_list = [2,5,6,12]

ii. Output_list = [4,25,36,144]

# Q1. What is a list ?

list is a data type in python.

list is used to store multiple items in single variable

list allows duplicate items. 

list allow heterogenious items.

list is shown in square bracket i,e [ ].

list is mutable data type.

we can add,remove or change the value of items in list.

to show the items in list we can use indexing and slice operator. 
 
list is orderd data type, defined order and that order will not change.

# Q2. what is tuple ?

tuple is data type in python.

tuple is used to store multiple items in single variablr. 

tuple is same like list but tuple is immutable. i,e once we store the value in tuple we can not change but we can ass or remve elements fron tuple.

tuples are written in round brackets i,e in paranthesis ( ).

tuple item are orderd, unchangable and allow duplicates. 

indexing is possible in tuple. 

we xan use the len() function to know the length of tuple.

tuple can contain different data types. like string,integers,boolean ,etc.

Q3. What is the difference between List and Tuple?

list is mutable data type and tuple is immutable that is main difference betn tuple and list. 

list consume more memory than tuple. 

the list is better for performing operations.

# Q4. Python Program to find the largest element in the list

In [ ]:
#Q4.Python Program to find the largest element in the list

x = [15,46,78,96,55,15,62]

In [ ]:
#we can use the max operator to find maximun elemnt in list
print("the maximum element in list is :",max(x))

the maximum element in list is : 96

In [ ]:
#also we can use sort() function 

x.sort()
print("maximum number in list is :", x[-1])

maximum number in list is : 96

In [ ]:
#in str type list
x = ["b","nh"]
print("maximum element in list is :",max(x))

maximum element in list is : nh

In [ ]:
x =["g",12,"gh",45] # not supported between instances of 'int' and 'str'

In [ ]:
print(max(x))
x.sort()

# Q5. Python program to interchange first and last elements in a list.

In [ ]:
#Q5.Python program to interchange first and last elements in a list.
#progam to change
x=[15,12,45,"hj"]

y= x[0]  #assing the values in variable
z= x[-1]
x[0]=z    #swapping
x[-1]=y
print(x)

['hj', 12, 45, 15]

## Q6. Python program to swap two elements in a list

In [ ]:
#Python program to swap two elements in a list

x = [10,15,48,56,36,51,"Hg","PQ",45]

"""we have to assing the index values with variable wich we want to swap 
  suppose we want to swap 6th index value to 2nd and vise versa."""

y = x[6]
z = x[2]
'''now we stored the valune we can swap'''
x[2] = y
x[6] = z

print(x)

[10, 15, 'Hg', 56, 36, 51, 48, 'PQ', 45]

# Q7. Python program to Reverse a List

we can reverse list using slice operator and using reverse function.

In [ ]:
#using slice operator

x = [1,2,3,4,'r','y']

x[::-1] #it will print list from right side

['y', 'r', 4, 3, 2, 1]

In [ ]:
#using reverse function
x = [1,2,3,'r','A',"z"]

x.reverse()

print(x)

['z', 'A', 'r', 3, 2, 1]

# Q8 . Python program to count occurrences of an element in a list.

we can use count operator to count occurrence of an element in list.

In [ ]:
x = [10,11,12,13,10,12,11,13,11,12,10,15,14,15,14,15,10]

x.count(10)

4

In [ ]:
print("the 11 is in above list",x.count(11),"times")
print(x.count(12))
print(x.count(13))
print(x.count(14))
print(x.count(15))
print(x.count(16))

the 11 is in above list 3 times
3
2
2
3
0

# Q9 . Python program to find the sum of elements in a list.

In [ ]:
x = [10,12,45,78,96] #we have to use loop


sum = 0 

for i in x: #iterate each value and add in sum
  sum=sum+i
print(sum)

241

In [ ]:
x = list(eval(input("Enter list: ")))
sum = 0
for i in x:
  sum = sum+i
print(sum)

Enter list: 10,10,10,12,15
57

## Q10. Python program to Multiply all numbers in the list

In [ ]:
a= [1,2,3,4,5]
mul = 1       #here we cant put initial values as zero. zero mul anything will be zero
for i in a:
  mul = mul*i
print("multiplication of list :",mul)

multiplication of list 120

In [ ]:
a = list(eval(input("Enter the list : ")))

mul = 1
for i in a:
  mul = mul*i
print('Multiplication of entered number is :',mul)

Enter the list : 1,20,2,3
Multiplication of entered number is : 120

# Q11. What are the ways to find the length of a list

we can find lenght using len( ) operator

In [ ]:
x = [10,12,1,45,14,'df','ff']
len(x)

7

## Q12. Python program to find the smallest and largest number in a list (Without min-max function)

In [ ]:
#Python program to find the smallest and largest number in a list (Without min-max function)

x = int(input("enter a number : "))
y = int(input("enter a number : "))
z = int(input("enter a number : "))

#we can use if statments to find smallest and largest number

if x>y and x>z :
  print("Largest number is :", x)
elif y>z:
  print("Largest number is : ",y)
else :
  print("Largest number is : ",z)

enter a number : 45
enter a number : 48
enter a number : 49
Largest number is :  49

In [ ]:
#all program we can write in one line 
x = int(input("enter a number : "))
y = int(input("enter a number : "))
z = int(input("enter a number : "))
x if x>y and X>z else y if y>z else z

enter a number : 10
enter a number : 15
enter a number : 45

45

In [ ]:
# for the smallest number
x = int(input("enter a number : "))
y = int(input("enter a number : "))
z = int(input("enter a number : "))

if x<y and x<z :
  print("smallest number is : ", x)
elif y<z:
  print("Smallest number is : ", y)
else : 
  print("smallest number is : ",z)

enter a number : 45
enter a number : 78
enter a number : 5
smallest number is :  5

In [ ]:
#one line program  for find smallest number

a = int(input("enter a number : "))
b = int(input("enter a number : "))
c = int(input("enter a number : "))

a if a<b and a<c else b if b<c else c

enter a number : 45
enter a number : 48
enter a number : 15

15

#Q13. Python Program to find the area of a circle

In [ ]:
#area of circle is pie*r2
#we can put value of pie as 3.14 or import math function 

import math
r = int(input("enter the value of radius : "))

a= pi*r**2

print("Area of a circle is : ", a)

enter the value of radius : 4
Area of a circle is :  50.26548245743669

In [ ]:
from math import pi
print(pi)

3.141592653589793

# Q14. Take inputs from the user to make a list. Again take one input from the user and search it in the list and delete that element, if found. Iterate over a list using for loop.

In [21]:
x =eval(input("Enter list : "))
z =[]
y = eval(input("enter int find in list: "))

print(y in x) #check y is in list or not

for i in x:  #for loop itrate every value 
  if i==y:
   continue   #if value find in list it will continue and dont print
  else:         
    z.append(i)
print(z)

Enter list : 14,15,45,78,15,15
enter int find in list: 15
True
[14, 45, 78]

# Q15 . You are given a list of integer elements. Make a new list that will store a square of elements of the previous list. (With and without list comprehension)

i. Input_list = [2,5,6,12]

ii. Output_list = [4,25,36,144]

In [ ]:
x = [2,5,6,12]
y= [] #creating empty list 
for i in x:
  i=i*i   
  y.append(i) #append new items in list
print(y)

[4, 25, 36, 144]