1. What’s The Difference Between The Python append() and extend() Methods?

2. Write a Python program to append a list to the second list

3. Write a Python program to find the third-largest number in a list
4. Write a Python program to get the frequency of the elements in a list.
5. Write a Python program to check whether a list contains a sublist
6. Write a Python program to generate all sublists of a list
7. Write a Python program to find common items from two lists
8. How to flatten a list in python?
9. How to sort a list in ascending and descending order without using the sort function?
10. How to sort a tuple?
11. Write a Python program to convert a list of multiple integers into a single integer

a. [11, 33, 50] >>> 113350

1. Difference between del and clear?
2. Difference between remove and pop?
3. Difference between indexing and Slicing?
4. Difference between sort and sorted?
5. Difference between reverse and reversed?
6. Difference between copy and deep copy?
7. How to check whether the list is empty or not?
8. How to concatenate two lists?
9. How to find the occurrences of an element in the python list?
10. How to flatten a list in python?

## Q1. What’s The Difference Between The Python append() and extend() Methods?

 Append() append adds a single element and end of a list.
 
 A list is an object. If you append another list onto a list, the parameter list will be a single object at the end of the list.

In [ ]:
#append 
x = [10,12,15,14,47]
x.append(23)
print(x)

[10, 12, 15, 14, 47, 23]

In [ ]:
x = [10,15,17,45]
y = [15,23,56,96]

x.append(y)
print(x)

[10, 15, 17, 45, [15, 23, 56, 96]]

extend(): Iterates over its argument and adding each element to the list and extending the list. The length of the list increases by number of elements in it’s argument.

In [ ]:
x = [10,2,20,3,63,69]
x.extend("hello")
x

[10, 2, 20, 3, 63, 69, 'h', 'e', 'l', 'l', 'o']

In [ ]:
x = [10,15,1,25,14]
x.extend("12,45,86,95,96")
print(x,end="")

[10, 15, 1, 25, 14, '1', '2', ',', '4', '5', ',', '8', '6', ',', '9', '5', ',', '9', '6']

## Q2. Write a Python program to append a list to the second list

In [ ]:
#we can use append () to append one list in other

x = [1,2,3,4,5,6]
y = [10,11,12,13]  #nested list consider as one element
x.append(y)
print(y)
print(x)

[10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, [10, 11, 12, 13]]

In [ ]:
x[6] #consider as one element

[10, 11, 12, 13]

## Q3. Write a Python program to find the third-largest number in a list

1st we sort list in ascending or descending order then indexing we can get 3rd largest number

In [ ]:
#using sort () sort list in ascending 

x = [10,15,47,52,3,101,19,90,46]
x.sort()
print(x)
print(x[-3]) # 3rd largest number in list

[3, 10, 15, 19, 46, 47, 52, 90, 101]
52

# Q4. Write a Python program to get the frequency of the elements in a list.

we can use count() operator to get frequency of elements in a list

syntax list.count(n)

In [ ]:
#count()

list1 =[10,12,45,10,15,12,45,54,5,10,12,15]

print(list1.count(12))
print(list1.count(45))
list1.count(15)

3
2

2

# Q5. Write a Python program to check whether a list contains a sublist

In [29]:
l = [10,12,13,14,15,16,17,18]   #list

l1 = [14,15,66]                #sublist
l2=l1
for i in l1:
  if True:
    print("the sublist element",i ,"is in parent list")
  else:
    print("the sublist element",i ,"is not in parent list")

the sublist element 14 is in parent list
the sublist element 15 is in parent list
the sublist element 66 is in parent list

# Q6. Write a Python program to generate all sublists of a list

In [105]:
l = [10,12,15,16,17,18]
n= len(l)
l2 = []
for k in l:     
  l2.append(k)
  print(l2)
print(n)  #length of list

[10]
[10, 12]
[10, 12, 15]
[10, 12, 15, 16]
[10, 12, 15, 16, 17]
[10, 12, 15, 16, 17, 18]
6

## Q7. Write a Python program to find common items from two lists


by using list comprehension

In [92]:
#list comprehension
l1 = [10,12,15,16,17,18,19]
l2 = [7,8,9,10,11,12,16,20]

l3=[i for i in l1 if i in l2]

print(l3)
#using intersection
#so 1st convert in to set
l3 = set(l1)
l4 = set(l2)
print(list(l3 & l4))

[10, 12, 16]
[16, 10, 12]

# Q8. How to flatten a list in python?

In [95]:
def flatten(list1):
    if isinstance(list1, list):
        list2 = []
        for i in list1:
            list2.extend(flatten(i))
        return list2
    else:
        return [list1]

In [96]:
list1 = [10,12,15,45,48]
flatten(list1)

[10, 12, 15, 45, 48]

#Q9. How to sort a list in ascending and descending order without using the sort function?

In [110]:
#we use loop and compare adjacent valuse and swap the values

# ascending order 

l = [10,15,14,12,18,17]
n = len(l)

for i in range(0,n):      #iterating every value

  for j in range (0,i):   

   if l[i]>l[j]:         #checking adjacent values

     l[i],l[j]=l[j],l[i] #swap if true

print(l)

[18, 17, 15, 14, 12, 10]

In [111]:
 #descending order

 l=[15,25,35,96,41,48,52]

for i in range(len(l)):

  for j in range(i,len(l)):

    if l[i]<l[j]:

      l[i],l[j]=l[j],l[i]
print(l)

[96, 52, 48, 41, 35, 25, 15]

#Q.10 How to sort a tuple?

In [114]:
x = (10,13,17,19,18,15,14)
y = list(x)              #1st change list in tuple
y.sort()                 #we can sort list using sort operation
print(tuple(y))

(10, 13, 14, 15, 17, 18, 19)

## Q11. Write a Python program to convert a list of multiple integers into a single integer

a. [11, 33, 50] >>> 113350nb

In [116]:
a = [10,12,15,14,86,20]

for i in a:        
  print(i,end="")     #end='' print number one by one and with out space if we didnt mention the space in ""#

101215148620

In [121]:
#convert list in to string and join 
a = [10,12,15,178]

for i in a:
  s = str(i)
  #int("".join(s))
  print(s,end="")

101215178

In [122]:
#using map

def convert(list):
      
    # Converting integer list to string list
    # and joining the list using join()
    res = int("".join(map(str, list)))
      
    return res

In [123]:
convert([10,12,15,16])

10121516

# Q1. Difference between del and clear?

After deleting list , list deletes permanently and we try to call back list it will give error.

if we clear a list it only clear list and list becomes empty list.

In [132]:
l = [10,12,16]
del l
L

NameError: ignored

In [133]:
id(l)

NameError: ignored

In [134]:
l = [10,15,14,75]
l.clear()
l

[]

In [135]:
id(l)

139702233683040

# Q2. Difference between remove and pop?

remove : syntax :  list.remove(x) : x is the item we want to remove. remove does not print the removed item from list. 

pop: syntax : list.remove(index) : in pop items removed using index value. and after removing it will print the item removed

In [146]:
l = [10,12,15,14,45]
print(l.remove(12))
l

None

[10, 15, 14, 45]

In [147]:
print(l.pop(2))
l

14

[10, 15, 45]

# Q3. Difference between indexing and Slicing?

indexing: using indexing we can call just indexing item in list or tuple

slicing : useing index we can slice list items in range. and also we can decide start , end and steps as well.


note : indexing from left side starts from "0", and from right side starts from -1


if index value not in range of list indexing shows error but in slicing never show error

In [148]:
#indexing
x = [10,12,15,14,18,15,12,58]

print(x[0])
print(x[6])
print(x[-6])
print(x[-4])

10
12
15
18

In [149]:
x[10]

IndexError: ignored

In [150]:
# slicing   #we use : to slice
x = [10,12,45,78,96,52,14,25,2,52,1]
#print list using slicing
print(x[:])

#pront items we want ex. from index 5 to index 8
print(x[4:8])

#print items upto index 4 : excluding index 4
print(x[:4])

#print items index 7 to end
print(x[7:])

#reverse the list

print(x[::-1])

#index out of range dont give error
print(x[10000:1:10001])

[10, 12, 45, 78, 96, 52, 14, 25, 2, 52, 1]
[96, 52, 14, 25]
[10, 12, 45, 78]
[25, 2, 52, 1]
[1, 52, 2, 25, 14, 52, 96, 78, 45, 12, 10]
[]

# Q4. Difference between sort and sorted
* sorted()

sorted() method sorts the given sequence as well as set and dictionary(which is not a sequence) either in ascending order or in descending order(does unicode comparison for string char by char) and always return the a sorted list. This method doesnot effect the original sequence.

* sort()

sort() function is very similar to sorted() but unlike sorted it returns nothing and makes changes to the original sequence.

In [160]:
l = [10,15,14,85,63,2,45,7]
print(sorted(l))
print(l)

[2, 7, 10, 14, 15, 45, 63, 85]
[10, 15, 14, 85, 63, 2, 45, 7]

In [156]:
print(l.sort())

None

In [159]:
x =[10,2,8,4,6,9,3]
x.sort()
print(x)

[2, 3, 4, 6, 8, 9, 10]

## Q5. Difference between reverse and reversed?

reverse() actually reverses the elements in the container. reversed() doesn't actually reverse anything, it merely returns an object that can be used to iterate over the container's elements in reverse order.

In [163]:
l = [10,5,63,21,55,2]   
l.reverse()
print(l)

[2, 55, 21, 63, 5, 10]

In [168]:
l = [10,15,47,86,21,45]
reversed(l)
print(l)

[10, 15, 47, 86, 21, 45]

# Q6. Difference between copy and deep copy?

In case of deep copy, a copy of object is copied in other object. It means that any changes made to a copy of object do not reflect in the original object. In python, this is implemented using “deepcopy()” function.


copy means constructing a new collection object and then populating it with references to the child objects found in the original. The copying process does not recurse and therefore won’t create copies of the child objects themselves. In case of shallow copy, a reference of object is copied in other object. It means that any changes made to a copy of object do reflect in the original object. In python, this is implemented using “copy()” function.

In [184]:
import copy
l = [10,12,45,63,14]

l1=copy.copy(l)

print(l)
print(l1)
print(id(l))
print(id(l1))

l1[0]= 45
print(l)
print(l1)

[10, 12, 45, 63, 14]
[10, 12, 45, 63, 14]
139702233009680
139702233062048
[10, 12, 45, 63, 14]
[45, 12, 45, 63, 14]

In [195]:

a = [10,12,15,14,16]

a1=copy.deepcopy(a)

print(a)
print(a1)
print(id(a))
print(id(a1))

a1[0]= 477
print(a)
print(a1)

[10, 12, 15, 14, 16]
[10, 12, 15, 14, 16]
139702233632848
139702233572368
[10, 12, 15, 14, 16]
[477, 12, 15, 14, 16]

## Q.7 How to check whether the list is empty or not?

Empty lists are considered False in Python, hence the bool() function would return False if the list was passed as an argument. Other methods you can use to check if a list is empty are placing it inside an if statement, using the len() methods, or comparing it with an empty list.

In [198]:
p = [] #empty list always false
bool(p)

False

In [199]:
 p = [1,3,5,6]
 bool(p)

True

In [201]:
p = [] #using len function 

if len(p)==0:
  print("list is empty")

list is empty

# Q.8 How to concatenate two lists?


using + we can add two lists

In [202]:
# using +

list1 = [1,2,3,4]
list2 = [5,6,7,8]
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8]

# Q.9 How to find the occurrences of an element in the python list?

using count operation we can find occurrence of an element in python

In [204]:
#syntax : list.count(element)

l = [1,2,3,4,1,2,3,4,1,4,1,2]

print(l.count(1))
print(l.count(2))
print(l.count(3))
print(l.count(4))

4
3
2
3

# Q.10 How to flatten a list in python?

In [205]:
def flatten(list1):
    if isinstance(list1, list):
        list2 = []
        for i in list1:
            list2.extend(flatten(i))
        return list2
    else:
        return [list1]

In [206]:
list1 = [23,56,32,562]
flatten(list1)

[23, 56, 32, 562]